<template>
    <v-main>
        <v-container>
            <b class="v-text-head pl-3">
                ชื่อเรื่อง
            </b>
            <v-row class="justify-center pt-10">
                <v-col :cols="$vuetify.display.smAndDown ? 3 : 3">
                    <v-card elevation="5" class="card-border " rounded="lg">
                        <v-card-actions>
                            <v-row class="justify-center pt-8">
                                <v-icon color="#A4A4A4" icon="mdi-folder-outline" size="70px">
                                </v-icon>
                            </v-row>
                        </v-card-actions>
                        <v-card-title>
                            <v-row class="justify-center pb-8 pt-3 ">
                                <label class="v-text-list text-bold">
                                    รหัสผู้ใช้งาน :
                                </label>
                                <lable class="v-text-list  text-primary">
                                    1745824651952
                                </lable>
                            </v-row>
                        </v-card-title>
                    </v-card>
                </v-col>
                <v-col :cols="$vuetify.display.smAndDown ? 3 : 3">
                    <v-card elevation="5" class="card-border " rounded="lg">
                        <v-card-actions>
                            <v-row class="justify-center pt-8">
                                <v-icon color="#A4A4A4" icon="mdi-folder-outline" size="70px">
                                </v-icon>
                            </v-row>
                        </v-card-actions>
                        <v-card-title>
                            <v-row class="justify-center pb-8 pt-3 ">
                                <label class="v-text-list text-bold">
                                    รหัสผู้ใช้งาน :
                                </label>
                                <lable class="v-text-list  text-primary">
                                    1745824651952
                                </lable>
                            </v-row>
                        </v-card-title>
                    </v-card>
                </v-col>
                <v-col :cols="$vuetify.display.smAndDown ? 3 : 3">
                    <v-card elevation="5" class="card-border " rounded="lg">
                        <v-card-actions>
                            <v-row class="justify-center pt-8">
                                <v-icon color="#A4A4A4" icon="mdi-folder-outline" size="70px">
                                </v-icon>
                            </v-row>
                        </v-card-actions>
                        <v-card-title>
                            <v-row class="justify-center pb-8 pt-3 ">
                                <label class="v-text-list text-bold">
                                    รหัสผู้ใช้งาน :
                                </label>
                                <lable class="v-text-list  text-primary">
                                    1745824651952
                                </lable>
                            </v-row>
                        </v-card-title>
                    </v-card>
                </v-col>
                <v-col :cols="$vuetify.display.smAndDown ? 3 : 3">
                    <v-card elevation="5" class="card-border " rounded="lg">
                        <v-card-actions>
                            <v-row class="justify-center pt-8">
                                <v-icon color="#A4A4A4" icon="mdi-folder-outline" size="70px">
                                </v-icon>
                            </v-row>
                        </v-card-actions>
                        <v-card-title>
                            <v-row class="justify-center pb-8 pt-3 ">
                                <label class="v-text-list text-bold">
                                    รหัสผู้ใช้งาน :
                                </label>
                                <lable class="v-text-list  text-primary">
                                    1745824651952
                                </lable>
                            </v-row>
                        </v-card-title>
                    </v-card>
                </v-col>

            </v-row>
             <v-row class="justify-center pt-10">
                    <v-col :cols="$vuetify.display.smAndDown ? 3 : 3">
                        <v-card elevation="5" class="card-border " rounded="lg">
                            <v-card-actions>
                                <v-row class="justify-center pt-8">
                                    <v-icon color="#A4A4A4" icon="mdi-folder-outline" size="70px">
                                    </v-icon>
                                </v-row>
                            </v-card-actions>
                            <v-card-title>
                                <v-row class="justify-center pb-8 pt-3 ">
                                    <label class="v-text-list text-bold">
                                        รหัสผู้ใช้งาน :
                                    </label>
                                    <lable class="v-text-list  text-primary">
                                        1745824651952
                                    </lable>
                                </v-row>
                            </v-card-title>
                        </v-card>
                    </v-col>
                    <v-col :cols="$vuetify.display.smAndDown ? 3 : 3">
                        <v-card elevation="5" class="card-border " rounded="lg">
                            <v-card-actions>
                                <v-row class="justify-center pt-8">
                                    <v-icon color="#A4A4A4" icon="mdi-folder-outline" size="70px">
                                    </v-icon>
                                </v-row>
                            </v-card-actions>
                            <v-card-title>
                                <v-row class="justify-center pb-8 pt-3 ">
                                    <label class="v-text-list text-bold">
                                        รหัสผู้ใช้งาน :
                                    </label>
                                    <lable class="v-text-list  text-primary">
                                        1745824651952
                                    </lable>
                                </v-row>
                            </v-card-title>
                        </v-card>
                    </v-col>
                    <v-col :cols="$vuetify.display.smAndDown ? 3 : 3">
                        <v-card elevation="5" class="card-border " rounded="lg">
                            <v-card-actions>
                                <v-row class="justify-center pt-8">
                                    <v-icon color="#A4A4A4" icon="mdi-folder-outline" size="70px">
                                    </v-icon>
                                </v-row>
                            </v-card-actions>
                            <v-card-title>
                                <v-row class="justify-center pb-8 pt-3 ">
                                    <label class="v-text-list text-bold">
                                        รหัสผู้ใช้งาน :
                                    </label>
                                    <lable class="v-text-list  text-primary">
                                        1745824651952
                                    </lable>
                                </v-row>
                            </v-card-title>
                        </v-card>
                    </v-col>
                    <v-col :cols="$vuetify.display.smAndDown ? 3 : 3">
                        <v-card elevation="5" class="card-border " rounded="lg">
                            <v-card-actions>
                                <v-row class="justify-center pt-8">
                                    <v-icon color="#A4A4A4" icon="mdi-folder-outline" size="70px">
                                    </v-icon>
                                </v-row>
                            </v-card-actions>
                            <v-card-title>
                                <v-row class="justify-center pb-8 pt-3 ">
                                    <label class="v-text-list text-bold">
                                        รหัสผู้ใช้งาน :
                                    </label>
                                    <lable class="v-text-list  text-primary">
                                        1745824651952
                                    </lable>
                                </v-row>
                            </v-card-title>
                        </v-card>
                    </v-col>

                </v-row>

        </v-container>


    </v-main>
</template>

<style scoped>
.v-text-head {
    font-size: 22px;
}

.v-text-list {
    font-size: 16px;
}

.card-border {
    border-left-width: 0.5rem;
    border-left-color: #88ACD1;
}
</style>