<template>
    <v-app-bar color="#fdfdfd" dark app>
      <v-img src="../assets/logo-etda.png" :max-width="$vuetify.display.smAndDown ? `25%` : `8%`" class="pl-10"></v-img>
      <v-toolbar-title class="text-primary text-size">File Requestor System</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>
</template>
<style scoped>
.text-size {
  font-size: 18px;
}
</style>

<script setup>

</script>
