<template>
  <!-- <AppBar ></AppBar> -->
  <router-view />
</template>

<script >

// import AppBar from "../src/components/AppBar.vue";
//
export default {

  name: "App",
  // components: {
  //   AppBar,
  // }



}



</script>
