<template>
  <v-app>
    <!-- <default-bar /> -->
    <default-view />

  </v-app>
</template>

<script setup>
import DefaultBar from '../../components/AppBar.vue'
import DefaultView from './View.vue'

</script>
