<template>
  <v-app>
    <!-- <default-bar /> -->
    <default-view />
    <default-footer />
  </v-app>
</template>

<script setup>
import DefaultBar from '../../components/AppBar.vue'
import DefaultView from './View.vue'
import DefaultFooter from '../../components/FooterBar.vue';
</script>
